/* Container holding the image and the text */


.text_wrap{
  top: 100%;
  left: 25%;
  width: 50%;
  position:absolute;
  margin-top: -6%;
  /* background-color:rgb(80, 73, 73);   */
  /* border-radius: 30px; */
 

  
}

.text_wrap p{
  margin-top: 5%;
  margin-bottom:5px;
  text-align: center ;
  color: rgb(0, 0, 0);
  font-size: 20px;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  */
}
